<h3>Discount Show Page</h3>

<h5><%= @bulk_discount.name %>: <%= @bulk_discount.percentage %>% off <%= @bulk_discount.threshold %> items or more!</h5>

<p><%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant.id, @bulk_discount.id)  %></p>
